<body style="background-color:lightgrey;">
<h1>About</h1>

  <div class="row">
    <div class ="col-12 col-md-6 col-lg-4">
      <%= image_tag "exam.jpg", class: "img-fluid" %>
      <pre style="font-size:85%;">Caffe Bene Performance</pre>
    </div>
    <div class = "col-12 col-md-6 col-lg-4">
      <p>Les Claviers 는 음악을 사랑하는 한인 음악동아리 입니다. 같이 음악을 즐기고 싶은 사람들이 모여 다양한 장르의 음악을 즐기며, 더 나아가 관중들 앞에서 공연...</p>
    </div>
  </div>

<h3>임원진</h3>
  <div class="row">
    <div class="col-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eaque consequuntur in tenetur sed nihil eius nemo, hic similique saepe eveniet labore optio modi dolor enim illo nesciunt voluptas placeat.
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      Les Claviers 정기공연
      <%= image_tag "concert1.jpg", class: "img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class=fluidMedia>
      <iframe src="https://www.youtube.com/embed/Uf1dGyxpYkA" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
    <div class="col-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur amet quos maxime, laboriosam, nesciunt quis. Ducimus, cumque velit libero suscipit nihil dolor minima atque nam ad commodi, quod iusto debitis?
    </div>
    <div class="col-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolorem pariatur neque beatae quos soluta dolor obcaecati aliquid commodi. Quas autem labore tenetur vitae, hic. Adipisci odio nisi consequuntur in.
    </div>
  </div>
</body>
